.sectioncon {
    background-image: linear-gradient(92deg, rgba(23, 14, 88, 0.80), rgba(255, 255, 255, 0.8)), url("../img/bg/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    color: #2B044D;
    height: 100%;
}